---
import {
  Accordion,
  AccordionContent,
  AccordionItem,
  AccordionTrigger,
} from '@/components/starwind/accordion';
import Prose from '@/components/starwind/prose';
import Section from '@/components/Section.astro';
import SectionHeader from '@/components/SectionHeader.astro';
import Container from '@/components/Container.astro';
import { faqs, type Faq } from '@/blocks/faq/faqs';
import { tv } from 'tailwind-variants';

interface Props {
  items?: Faq[];
  class?: string;
  spacing?: 'none' | 'sm' | 'default' | 'lg';
}

const faq1 = tv({
  base: '',
});

const {
  items = faqs,
  class: className = '',
  spacing = 'default',
} = Astro.props;
---

<Section class={faq1({ class: className })} spacing={spacing}>
  <Container>
    <div class="grid w-full grid-cols-4 gap-4 md:grid-cols-12">
      <div
        class="col-span-4 col-start-1 md:col-span-10 md:col-start-2 lg:col-span-10 lg:col-start-2"
      >
        <SectionHeader
          position="left"
          title="Frequently Asked Questions."
          label="Common Questions"
        />
        <Accordion type="single">
          {
            items.map((item) => (
              <AccordionItem
                value={item.question}
                class="bg-muted w-full overflow-hidden border-b-0! px-8 py-3"
              >
                <AccordionTrigger class="text-xl font-medium hover:cursor-pointer hover:no-underline [&>svg]:size-6">
                  {item.question}
                </AccordionTrigger>
                <AccordionContent>
                  <Prose
                    set:html={item.answer}
                    class="max-w-none font-normal"
                  />
                </AccordionContent>
              </AccordionItem>
            ))
          }
        </Accordion>
      </div>
    </div>
  </Container>
</Section>
