<div
  class="bg-primary flex items-center justify-center px-3 py-2 text-center"
  aria-live="polite"
>
  <div>
    <p
      class="text-primary-foreground text-sm leading-none font-medium md:text-[15px]"
    >
      Save 10% on your first move — save 15% when you refer a friend.
    </p>
  </div>
</div>
