<div class="fixed top-0 left-0 z-[-1] flex h-full w-full px-4">
  <div
    class="outline-border/50 mx-auto grid h-full w-full max-w-[1440px] grid-cols-4 gap-4 px-4 outline-1 outline-dashed md:grid-cols-12"
  >
    <div class="outline-border/50 outline-1 outline-dashed"></div>
    <div class="outline-border/50 outline-1 outline-dashed"></div>
    <div class="outline-border/50 outline-1 outline-dashed"></div>
    <div class="outline-border/50 outline-1 outline-dashed"></div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
    <div class="outline-border/50 hidden outline-1 outline-dashed md:block">
    </div>
  </div>
</div>
